<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure.dtd">

<Configure class="org.eclipse.jetty.webapp.WebAppContext">
	<Set name="resourceBase">./WebRoot</Set>
	<Set name="contextPath"><SystemProperty name="context.path" default="."/></Set>
	<!--设置Web应用的默认配置描述符-->
	<Set name="defaultsDescriptor">
		<SystemProperty name="jetty.home" default="."/>/etc/webdefault.xml
	</Set>

</Configure>
